<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:cpce="http://typo3.org/ns/Conpassione/Cpdevsite/Viewhelpers">

<div class="cp-image">
    <f:if condition="{data.header}">
        <f:render partial="HeaderTag" arguments="{
            header_layout: data.header_layout,
            header: data.header,
            link: data.header_link}" />
    </f:if>
    <div class="gallery columns{f:if(condition: '{data.imagewidth} == 0', then: '', else: 'sized')}{data.imagecols} orientation{data.imageorient}"
         style="{f:if(condition: '{data.imagewidth} == 0', then: '', else: '--gallery-imagewidth: {data.imagewidth}px;')}">
        <f:if condition="{files}">
            <f:for as="image" each="{files}">
                <figure class="images files">
                    <f:if condition="{image.link}">
                        <f:then>
                            <f:link.typolink parameter="{image.link}" title="{image.title}">
                                <f:render partial="ImageTag" arguments="{file: image, data:data}" />
                                <f:if condition="{image.description} && !({data.showcaption} == '0')">
                                    <figcaption>{image.description}</figcaption>
                                </f:if>
                            </f:link.typolink>
                        </f:then>
                        <f:else>
                            <f:if condition="{data.image_zoom}">
                                <f:then>
                                    <a class="lightbox" href="{f:uri.image(image:image, maxWidth: 1600, fileExtension: 'webp', cropVariant: 'default')}" title="{image.description}">
                                        <f:render partial="ImageTag" arguments="{file: image, data:data}" />
                                        <f:if condition="{image.description} && !({data.showcaption} == '0')">
                                            <figcaption>{image.description}</figcaption>
                                        </f:if>
                                    </a>
                                </f:then>
                                <f:else>
                                    <f:render partial="ImageTag" arguments="{file: image, data:data}" />
                                    <f:if condition="{image.description} && !({data.showcaption} == '0')">
                                        <figcaption>{image.description}</figcaption>
                                    </f:if>
                                </f:else>
                            </f:if>
                        </f:else>
                    </f:if>
                </figure>
            </f:for>
        </f:if>
        <f:if condition="{data.files}">
            <f:for as="image" each="{data.files}">
                <figure class="data.files">
                    <f:if condition="{image.link}">
                        <f:then>
                            <f:link.typolink parameter="{image.link}" title="{image.title}">
                                <f:render partial="ImageTag" arguments="{file: image, data:data}" />
                                <f:if condition="{image.description} && !({data.showcaption} == '0')">
                                    <figcaption>{image.description}</figcaption>
                                </f:if>
                            </f:link.typolink>
                        </f:then>
                        <f:else>
                            <f:if condition="{data.image_zoom}">
                                <f:then>
                                    <a class="lightbox" href="{f:uri.image(image:image, maxWidth: 1600, fileExtension: 'webp', cropVariant: 'default')}" title="{image.description}">
                                        <f:render partial="ImageTag" arguments="{file: image, data:data}" />
                                        <f:if condition="{image.description} && !({data.showcaption} == '0')">
                                            <figcaption>{image.description}</figcaption>
                                        </f:if>
                                    </a>
                                </f:then>
                                <f:else>
                                    <f:render partial="ImageTag" arguments="{file: image, data:data}" />
                                    <f:if condition="{image.description} && !({data.showcaption} == '0')">
                                        <figcaption>{image.description}</figcaption>
                                    </f:if>
                                </f:else>
                            </f:if>
                        </f:else>
                    </f:if>
                </figure>
            </f:for>
        </f:if>
    </div>
</div>

</html>
