/* page */
@use '../settings' as *;

@layer basestyles {

  .breadcrumbmenu {
    /* local settings */
    font-size: calc(var(--fs-regular) * 0.5);
    >h1 {
      display:inline-block;
      font-size: calc(var(--fs-regular) * 0.5);
    }
    a {
      text-decoration: none;
    }

    >span {
      // color: oklch(from var(--clr-text) calc(l * .5) c h);
    }
    > a:hover {
      background-color: var(--clr-accent);
    }
  }
}
