/* page */
@use '../settings' as *;

@layer basestyles {

  .logo-graygreen {
    --_clr-logo:       var(--clr-brand--gray-dark);
    --_clr-logokreis:  var(--clr-brand--gray-dark);
    --_clr-logopfote:  var(--clr-brand--white);
    --_clr-logopfote2: var(--clr-brand--primary);
    --_clr-logohand:   var(--clr-brand--white);
    --_clr-logohand2:  var(--clr-brand--primary);
    --_clr-logoslogan: var(--clr-brand--gray-dark);
  }

  .logo-mono {
    --_clr-logo:       var(--clr-brand--gray-dark);
    --_clr-logokreis:  var(--clr-brand--gray-dark);
    --_clr-logopfote:  var(--clr-brand--gray-dark);
    --_clr-logopfote2: transparent;
    --_clr-logohand:   var(--clr-brand--gray-dark);
    --_clr-logohand2:  transparent;
    --_clr-logoslogan: var(--clr-brand--gray-dark);
  }

  .profile-graygreen {
    --_clr-profilekreis: var(--clr-brand--gray-dark);
    --_clr-profile2: var(--clr-brand--primary);
    --_clr-profilebody: var(--clr-brand--white);
  }

  .profile-mono {
    --_clr-profilekreis: var(--clr-brand--gray-dark);
    --_clr-profile2: transparentize();
    --_clr-profilebody: var(--clr-brand--gray-dark);
  }

  @media (prefers-color-scheme: dark) {
    .logo-graygreen {
      --_clr-logo:       var(--clr-brand--white);
      --_clr-logoslogan: var(--clr-brand--white);
    }

    .logo-mono {
      --_clr-logo: var(--clr-brand--white);
      --_clr-logokreis: var(--clr-brand--white);
      --_clr-logopfote: var(--clr-brand--white);
      --_clr-logohand: var(--clr-brand--white);
      --_clr-logoslogan: var(--clr-brand--white);
    }

    .profile-graygreen {
    }

    .profile-mono {
      --_clr-profilekreis: var(--clr-brand--white);
      --_clr-profile2: transparentize();
      --_clr-profilebody: var(--clr-brand--white);
    }
  }

  .headercontent {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 60px 60px;
    justify-content: space-between;
    align-items: center;
    container-type: inline-size;
    container-name: headercontent;
    position: relative;
    padding-block: 10px;
  }

  .profile {
    max-width: 40px;
  }

  .logo {
    width: 100%;
    max-width: 300px;
    a {
      z-index: 2;
    }
  }

  .logo a:focus-visible {
    @include outline;
  }

  .svglogo {
    width: 100%;
    height: auto;
  }
}
