/* fonts */

@layer basestyles {
  @font-face {
    font-family: 'Symbols';
    src:         url('../Fonts/LigatureSymbols/LigatureSymbols-2.11.woff') format('woff');
    font-weight: normal;
    font-style:  normal;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url('../Fonts/OpenSans/OpenSans-SemiBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url('../Fonts/OpenSans/OpenSans-SemiBoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

//  @font-face {
//    font-family: 'Open Sans';
//    src: url('../Fonts/OpenSans/OpenSans-Regular.woff2') format('woff2');
//    font-weight: normal;
//    font-style: normal;
//    font-display: swap;
//  }
//
//  @font-face {
//    font-family: 'Open Sans';
//    src: url('../Fonts/OpenSans/OpenSans-Italic.woff2') format('woff2');
//    font-weight: normal;
//    font-style: italic;
//    font-display: swap;
//  }

  @font-face {
    font-family: 'Open Sans';
    src: url('../Fonts/OpenSans/OpenSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url('../Fonts/OpenSans/OpenSans-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url('../Fonts/OpenSans/OpenSans_Condensed-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url('../Fonts/OpenSans/OpenSans_Condensed-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }

  /* =============================== */
  :root {
    /* fontfaces */
    --ff:              'Open Sans', system-ui, sans-serif;
    --ff-condensed:    'Open Sans', system-ui, sans-serif;
    --ff-serif:        Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
    --ff-h:            'Open Sans', system-ui, sans-serif;
    --ff-nav:          'Open Sans', system-ui, sans-serif;
    --ff-mono:         ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    --ff-symbol:       Symbols;

    /* font weight */
    --fw-regular:      300;
    --fw-mono:         400;
    --fw-bold:         700;
    --fw-h:            600;

    /* font size */
    --fs-fix--small:  16px;
    --fs-fix--normal: 50px;
    --fs-fix--big:    24px;

    /* line height */
    --lh-fix--regular:      1.5;
    --lh-fix--small:        1.2;
    --lh-fix--h:            var(--lh-fix--small);

    /* regular font */
    --fs-regular:      clamp(1rem, 3.75vw , 2.5rem);
    font-size:         var(--fs-fix--nomral);
    line-height:       var(--lh-fix--regular);


  }

  .iconfont {
    font-family:           var(--ff-symbol), sans-serif;
    font-feature-settings: "liga" 1, "dlig" 1;
    content:               '';
    padding-inline-start:  0.1em;
    padding-inline-end:    0.2em;
  }
}
