/* list */
@use '../settings' as *;

@layer basestyles {

  /* reset */
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role=list],
  ol[role=list] {
    list-style: none;
  }

  ol,
  ul {
    list-style-type:      disc;
    padding-inline-start: 1em;
    //font-size: inherit;
    // size of marker in cap (Höhe von Grossbuchstaben) or ex (Höhe von Kleinbuchstaben)
    // perfekte Ausrichtung mit vertical-align: middle; margin-top: calc(1ex - 1cap);
  }

  ul > ::marker {
    color: var(--clr-list--marker, currentColor);
  }

}
