<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div class="breadcrumbmenu">
    <f:for as="breadcrumb" each="{page.localRootLine}" iteration="ibreadcrumb">
        <f:if condition="{ibreadcrumb.isLast}">
            <f:then>
                <h1>{breadcrumb.nav_title}</h1>
            </f:then>
            <f:else>
                <f:if condition="{breadcrumb.nav_hide} === 0">
                    <f:link.page pageUid="{breadcrumb.uid}">{breadcrumb.nav_title}</f:link.page>
                    <f:if condition="{page.id} != {breadcrumb.uid}">&nbsp;>>&nbsp;</f:if>
                </f:if>
            </f:else>
        </f:if>
    </f:for>
</div>

</html>
