<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Layout-{page.pagerecord.layout}"/>

<f:section name="Main">
    <f:render arguments="{hero: pagecontent.hero, pageTitle: page.pagerecord.subtitle}" section="Herosmall"/>
    <f:render arguments="{_all}" partial="Menu/BreadcrumbMenu"/>
    <f:render arguments="{_all}" section="Submenu"/>
    <f:for as="contentelement" each="{pagecontent.content.records}">
        <f:cObject
            data="{contentelement.rawRecord}"
            table="tt_content"
            typoscriptObjectPath="tt_content.{contentelement.CType}"
        />
    </f:for>
</f:section>

<f:section name="Herosmall">
    <f:render arguments="{hero: hero, pageTitle: pageTitle}" partial="Herosmall"/>
</f:section>

<f:section name="Submenu">
    <f:render arguments="{submenu: submenu, cp_status: page.pagerecord.cp_status}" partial="Menu/SubMenu"/>
</f:section>

</html>
