<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:spaceless>
    <header class="content-grid">
        <a href="#main-content" class="skip-nav-link"><f:translate key="LLL:EXT:kuhdist/Resources/Private/Language/locallang.xlf:skipnavlink"/></a>
        <f:render arguments="{_all}" partial="Header"/>
    </header>

    <main id="main-content" class="content-grid">
        <f:render partial="Menu/BreadcrumbMenu" arguments="{_all}"></f:render>
        <!--TYPO3SEARCH_begin-->
        <f:render section="Main"/>
        <!--TYPO3SEARCH_end-->
    </main>

    <footer class="content-grid">
        <f:render arguments="{pagecontent.footer}" partial="Footer"/>
        <f:render partial="Scripts"/>
    </footer>
</f:spaceless>
</html>

